OPENWEATHER_API_KEY=
SMARTGRID_UPDATE_INTERVAL=4
SMARTGRID_FULL_SCALE=0
SMARTGRID_ENABLE_ALERTS=0
SMARTGRID_SLACK_WEBHOOK=
SMARTGRID_TELEGRAM_BOT_TOKEN=
SMARTGRID_TELEGRAM_CHAT_ID=
SMARTGRID_SMTP_HOST=
SMARTGRID_SMTP_PORT=587
SMARTGRID_SMTP_USER=
SMARTGRID_SMTP_PASSWORD=
SMARTGRID_ALERT_EMAIL_FROM=
SMARTGRID_ALERT_EMAIL_TO=
